.example-container{
  width:400px;
  height: 200px;
  margin: 10px;
  border: 1x solid black;
}
.navbar{
  justify-content:space-between;
}
span{
  padding-right:1rem;
}
mat-sidenav-container{
  height:100%;
}
mat-sidenav,mat-sidenav-content{
  padding: 16px;
}
mat-sidenav{
  background-color:cyan;
  width:200px;

}
.center{
  margin-top: 10rem;

}
mat-grid-tile{
  background-color: lightblue;
}
